/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 64px auto 32px;
  grid-template-columns: 100vw;
}

/* header */
header, footer {
  display: flex;
  background: #44ee44;
  color: #112211;
  justify-content: center;
  align-items: center;
}

footer a[href] {
  color: #112211;
  padding: 2px;
}

/* card design */
.content {
  max-width: 1025px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 250px;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #ababab;
  border-radius: 5px;
  margin: 8px;
}

.img {
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
}

.card .details {
  position: relative;
}

.link {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.card .name {
  padding: 4px 16px;
}

.card .status {
  padding: 1rem;
  font-size: 90%;
  color: #787878;
}

.card .green-dot {
  position: absolute;
  top: 8px;
  right: 4px;
  padding: 4px;
  background: #55ee55;
  color: #ffffff;
  border-radius: 20px;
}
